/*font-family: 'Raleway', sans-serif;*/
/*font-family: 'Roboto Condensed', sans-serif;*/
/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Abel', sans-serif;*/
/*font-family: 'Dancing Script', cursive;*/

/******************************/
/*        MAIN CONTAINERS     */
/******************************/
* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  max-width: 500px;
  height: 100%;
  margin: auto;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  flex-flow: column nowrap;
  font-weight: bold;
  text-transform: uppercase;
}

.menu-container {
  padding: 4px 4%;
  height: 5%;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 2em;
}

.boss-container {
  padding: 2%;
  height: 20%;
  background-color: #000;
}

.health-container {
  padding: 2%;
  height: 55%;
  background-color: #000;
}

.player-container {
  padding: 2%;
  height: 20%;
  background-color: #4a4a4a;
}

/******************************/
/*        BOSS CONTAINER      */
/******************************/

.spell-list {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 40%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.spell-list li:nth-child(1) div:nth-child(1) {
  background-color: white;
}

.boss-spell {
  margin: 5px;
  width: 30%;
  height: 50%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.boss-spell-text {
  padding-left: 9px;
  color: white;
  font-size: 110%;
  text-transform: uppercase;
  font-weight: bold;
}

.boss-spell-icon {
  height: 70%;
  width: 18%;
  border-radius: 50%;
}

.timeline-container {
  height: 60%;
  position: relative;
}

.slider {
  position: absolute;
  height: 40%;
  background-color: #414141;
  width: 100%;
  border-radius: 8px;
  top: 40%;
}

.spell-slider {
  position: absolute;
  right: 0;
  height: 58%;
  width: 2%;
  border-radius: 8px;
  top: 30%;
}

/******************************/
/*        HEALTH CONTAINER    */
/******************************/

.health-container {
  padding-top: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.border-bar {
  width: 48%;
  height: 13%;
  padding: 2px;
  border-radius: 8px;
}

.health-bar {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background-color: #00d88f;
}

.aura-green {
  border: 3px solid #00d88f;
}

.aura-white {
  border: 3px solid white;
}

/******************************/
/*        PLAYER CONTAINER    */
/******************************/

.player-container {
  padding: 20px 4% 20px 4%;
}

.players-buttons {
  height: 50%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  color: white;
}

#tap-button,
#hold-button,
#swipe-button {
  margin: 0 4px;
  width: 20%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

#tap-button {
  background-color: #00d88f;
}

#hold-button {
  background-color: #fe0000;
}

#swipe-button {
  background-color: #0099ff;
}

#ultimate-button {
  margin: 0 4px;
  width: 40%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #fec400;
}

.mana-bar-container {
  height: 50%;
}

#mana-bar {
  width: 100%;
  height: 100%;
  background-color: #0099ff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
